@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .board-section-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .board-section-scrollbar::-webkit-scrollbar-track {
    background: #1c1c1d;
  }

  .board-section-scrollbar::-webkit-scrollbar-thumb {
    background: #000000;
    background-clip: padding-box;
    border: 2px #000000 solid;
  }

  .board-section-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #252525;
    border: 2px #252525 solid;
  }

  .board-section-scrollbar::-webkit-scrollbar-thumb:active {
    background: #353535;
    border: 2px #353535 solid;
  }

  .app-contact-section-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .app-contact-section-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .app-contact-section-scrollbar::-webkit-scrollbar-thumb {
    background: #1c1c1d;
    background-clip: padding-box;
    border: 2px #1c1c1d solid;
  }

  .app-contact-section-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #252525;
    border: 2px #252525 solid;
  }

  .app-contact-section-scrollbar::-webkit-scrollbar-thumb:active {
    background: #353535;
    border: 2px #353535 solid;
  }

  .animation-delay-200 {
    animation-delay: 0.2s;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    color: #525252;
    opacity: 0.5;
    display: block;
    width: 20px;
    height: 20px;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 50ms;
  }
  input[type="date"]:focus-within::-webkit-calendar-picker-indicator {
    filter: invert(1);
    color: #525252;
    opacity: 0.9;
    display: block;
    width: 20px;
    height: 20px;
  }
}
